#############################################
# Eklesia Konecta API (.env.example LIMPO)
# Copie para .env e ajuste conforme necessário
#############################################

# Banco (PostgreSQL)
DATABASE_URL=postgresql://postgres:senha@localhost:5432/eklesia?schema=public

# Ambiente
NODE_ENV=development

# Porta usada apenas quando rodando sem Docker
PORT=3000

# (Adicionar variáveis futuras aqui conforme novos módulos forem entrando)
